{% extends "base.jinja"%}

{% block body %}
<link rel="stylesheet" href="../static/styles/login.css" />
<link rel="stylesheet" href="../static/styles/create-login.css" />


<div class="container" id="loginContainer">
    <div class="login-form" style="width: 500px;">
        <form method="post">

            <!-- Card title -->
            <h2 class="text-center">Create an Account</h2>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email Address: </label>
                <input id="email" name="email" class="form-control" placeholder="Email" value="{{ email or '' }}" required />
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label class="form-label">Password: </label>
                <input id="password" name="password" type="password" class="form-control" placeholder="Password" required />
            </div>

            <!-- Password confirmation -->
            <div class="mb-3">
                <label class="form-label">Confirm Password: </label>
                <input id="password_confirmation" name="password_confirmation" type="password" class="form-control" placeholder="Confirm Password" required />
            </div>

            <div id="message">
                <h5>Password must contain the following:</h5>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="symbol" class="invalid">A <b>symbol</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>

            <!-- Submit button -->
            <div class="text-center" style="margin-top: 2rem;">
                <input class="btn mb-3" type="submit" value="Create Account" />
            </div>

        </form>

    </div>
</div>

<script>
    var myInput = document.getElementById("password");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    var symbol = document.getElementById("symbol");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate symbol
        var symbols = /[\W]/g;
        if (myInput.value.match(symbols)) {
            symbol.classList.remove("invalid");
            symbol.classList.add("valid");
        } else {
            symbol.classList.remove("valid");
            symbol.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }
</script>

{% endblock %}